<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/skill.css">
    <title>Document</title>
</head>
<body>
    <div class="bg">
        
          <h1>Skills</h1>
         <p>Java Programming
            <li>Java Calculator Coding</li>
            <li>Java POS System</li>
            <li>Java Game Developmentable</li>
            <li>Java Task Managament System</li>
         </p>
         <p>Python Programing
            <li>Python Basics</li>
            <li>Python Calculator</li>
            
         </p>
         <p>Web Development
            <li>UX/UI Intermediate</li>
            <li>Front-End Developer</li>
         </p>
         <p>Graphic and Design
            <li>Photoshop Editing</li>
            <li>Video Editor</li>
            <li>Logo Creator</li>
         </p>


       </div>
</body>
</html>